.cts-message-box {
  border-top: 3px solid #428bca;
  color: #428bca !important;
  background: #fff;
  padding: 1em;
  margin-bottom: 1.5em; }

.cts-warning-box {
  border-top: 3px solid #c00;
  color: #c00 !important;
  background: #fff; }

.cts-inverted {
  background: #000;
  color: #fff; }

a.cts-button, button.cts-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding: 0.6875em 1em;
  text-decoration: none !important;
  box-shadow: none;
  border: 0px solid;
  background-color: #999;
  opacity: 0.999;
  /* needed for fancy buttons */
  border-color: #999;
  color: #fff; }
  a.cts-button:hover, button.cts-button:hover {
    background-color: #808080;
    border-color: #808080;
    color: #fff; }
  a.cts-button.alt-color, button.cts-button.alt-color {
    border-color: #ccc;
    background-color: #ccc; }
    a.cts-button.alt-color:hover, button.cts-button.alt-color:hover {
      background-color: #b3b3b3;
      border-color: #b3b3b3; }

a.cts-ghost-button, button.cts-ghost-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding: 0.5em 1em;
  text-decoration: none !important;
  text-shadow: none;
  box-shadow: none;
  border: 0.1875em solid;
  border-color: #999;
  color: #999; }
  a.cts-ghost-button:hover, button.cts-ghost-button:hover {
    background-color: #999;
    border-color: #999;
    color: #fff; }
  a.cts-ghost-button.alt-color, button.cts-ghost-button.alt-color {
    border-color: #ccc;
    color: #ccc; }
    a.cts-ghost-button.alt-color:hover, button.cts-ghost-button.alt-color:hover {
      background-color: #ccc;
      border-color: #ccc;
      color: #fff; }

.cts-use-fancy-buttons a.cts-button:after, .cts-use-fancy-buttons button.cts-button:after, .cts-use-fancy-buttons a.cts-button:before, .cts-use-fancy-buttons button.cts-button:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0; }
  .cts-use-fancy-buttons a.cts-button:before, .cts-use-fancy-buttons button.cts-button:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    border-right: 5em solid #999;
    border-top: 5em solid #8c8c8c;
    margin-left: -50%;
    z-index: -299;
    display: block;
    transition: all 0.4s ease-in; }
  .cts-use-fancy-buttons a.cts-button:after, .cts-use-fancy-buttons button.cts-button:after {
    background: #999;
    width: 100%;
    height: 100%;
    z-index: -300; }
  .cts-use-fancy-buttons a.cts-button:focus:before, .cts-use-fancy-buttons button.cts-button:focus:before, .cts-use-fancy-buttons a.cts-button:hover:before, .cts-use-fancy-buttons button.cts-button:hover:before {
    width: 160%; }

.smaller {
  font-size: 75%; }
